<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

     <!-- 👇 THÊM KHỐI NÀY -->
    <queries>
      <!-- Dialer: mở ứng dụng gọi điện với tel: -->
      <intent>
        <action android:name="android.intent.action.DIAL" />
        <data android:scheme="tel" />
      </intent>

      <!-- Email: mở app mail với mailto: -->
      <intent>
        <action android:name="android.intent.action.SENDTO" />
        <data android:scheme="mailto" />
      </intent>

      <!-- Tuỳ chọn: VIEW mailto để tương thích rộng hơn -->
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="mailto" />
      </intent>

       <!-- Messenger -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="fb" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="fb-messenger" />
    </intent>

    <!-- Zalo -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="zalo" />
    </intent>
    </queries>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
          <!-- 👇 Khớp click_action từ FCM -->
        <intent-filter>
          <action android:name="OPEN_ORDER_DETAIL" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

         <!-- 👇 Deep link menstyle://... (nếu bạn dùng deeplink) -->
        <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="menstyle" />
        </intent-filter>
      </activity>
    </application>
</manifest>
